#buttonNine {
  border-top-style: solid;
  text-align: center;
  border-left-style: solid;
  border-width: 10px;
  height: 12.5vh;
  line-height: 12.5vh;
  width: 12.5vh;
  font-size: 6.25vh;
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7 {
  border-style: solid;
  border-color: yellow;
  height: 12.5vh;
  line-height: 12.5vh;
  width: 12.5vh;
  border-radius: 100%;
  background-color: white;
  
}

#board {
  background-color: yellow;
  width: fit-content;
  border-style: solid;
}

#app {
  border-style: solid;
  width: fit-content;
}